This application is currently in development, so features are made available through this "main menu."
<ul>
	<li>For application users:
	<ul>
		<li><a href="./overview">Overview Tool</a>: Use overview tool to enter basic data, get basic recommendations, and register new user account
		<li>Farm Details: Enter farm details (fields, crops, livestock, and (pending) techniques for fields
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:25022/planner">Farm Details - recommendations</a>
			<li><a href="./farmFields">Farm Details - fields</a>
			<li><a href="./farmCrops">Farm Details - crops</a>
			<li><a href="./farmLivestock">Farm Details - livestock</a>
			<li><!--a href="./farmTechniques"-->Farm Details - techniques<!--/a--> - not yet available
		</ul>
	</ul>
	<li>For system admins:
	<ul>
		<li><!--a href="./dmnAddressType"-->Manage Address Types<!--/a--> (domain data for types of address) - not yet available
		<li><!--a href="./dmnEquipmentType"-->Manage Equipment Types<!--/a--> (domain data for types of equipment) - not yet available
		<li><!--a href="./dmnLivestockType"-->Manage Livestock Types<!--/a--> (domain data for types of livestock) - not yet available
		<li><!--a href="./dmnProduceType"-->Manage Produce Types<!--/a--> (domain data for types of produce) - not yet available
		<li><!--a href="./dmnUOM"-->Manage Units of Measure<!--/a--> (domain data for units throughout the app) - not yet available
	</ul>
</ul>