<!doctype html>
<html>
<head>
	<title>{{{title}}}</title>
	<script src="./js/extagentClient.js"></script>
	<link rel="stylesheet" href="./css/extagentClient.css">
</head>
<body>
	<h1>{{{title}}}</h1>
	<h2>{{{subtitle}}}</h2>
	{{{body}}}
</body>
</html>